<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="" id="logo">
        <h5>barra de busqueda</h5>
        <h5>compra en cuotas y sin tarjeta de credito</h5>
        <ul>
            <li><a href="/ofertas">Ofertas</a></li>
            <li><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
            <li><a href="/vender">Vender</a></li>
            <li><a href="/ayuda">Ayuda</a></li>

            <br>
            <li><a href="">Crea tu cuenta</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
    
    </header>
    <img src="/images/img-home-banner.jpg" alt="">
    <main>
       <section class="UltVisita">
        <div class="cafetera">
            <h2>Basado en tu ultima visita</h2>
        <img src="/images/img-cafetera-moulinex.jpg" alt="">
        <h3>$6.4700</h3>
        <p>40% OFF</p>
        <h2>Cafetera Moulinex</h2>
        </div>
        <div class="macBook">
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h3>$70.500</h3>
            <p>10% OFF</p>
            <h2>Samsung Galaxy S10</h2>
        </div>
        <div class="smartTV">
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <h3>$23.200</h3>
            <p>5% OFF</p>
            <h2>SmartTv Samsung 43"</h2>
        </div>

       </section>
       <section class="Ofertas">
        <h1>Ofertas</h1>
        <div class="cafetera">
           
        <img src="/images/img-cafetera-moulinex.jpg" alt="">
        <h3>$6.4700</h3>
        <p>40% OFF</p>
        <h2>Cafetera Moulinex</h2>
        </div>
        <div class="macBook">
            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <h3>$70.500</h3>
            <p>10% OFF</p>
            <h2>Samsung Galaxy S10</h2>
        </div>
        <div class="smartTV">
            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <h3>$23.200</h3>
            <p>5% OFF</p>
            <h2>SmartTv Samsung 43"</h2>
        </div>
       </section>

    </main>
    <footer>
        <div class="info1">
            <h2>Elegí como pagar</h2>
            <p>
                <span>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </span>
            </p>
        </div>
        <div class="info2">
            <h2>Envio gratis desde $2.500</h2>
            <p>
                <span>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
productos. Es un beneficio de Mercado Puntos.
                </span>
            </p>
        </div>
        <div class="info3">
            <h2>Seguridad, de principio a fin</h2>
            <p>
                <span>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
porque estás siempre protegid@.
                </span>
            </p>
        </div>
        <div class="footer-info">
            <nav>
                <small>Copyright © 1999-2020 MercadoLiebre S.R.L.</small>
            </nav>
        </div>

    </footer>
</body>
</html>