.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.main-main{
    background-color: #ebebeb;
}
.main-main .main-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.main-main .main-body .main-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.main-main .main-body .main-article .article-class{
    background-color: white;
    width: 88%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    margin-bottom: 15px;
    transition: .15s ease all;
}
.main-main .main-body .main-article .article-class:hover{
    width: 98%;
}
.main-main .main-body .main-article .article-class img{
    width: 80%;
}
.main-main .main-body .main-article .article-class .caracteristicas-article{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    width: 100%;
    position: relative;
}
.main-main .main-body .main-article .article-class .caracteristicas-article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: .5s ease all;
}
.main-main .main-body .main-article .article-class .caracteristicas-article i:hover{
    transform: rotate(-90deg);
}
.main-main .main-body .main-article .article-class .caracteristicas-article .pago{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.main-main .main-body .main-article .article-class .caracteristicas-article .pago .precios{
    width: 40%;
}
.main-main .main-body .main-article .article-class .caracteristicas-article .pago .off{
    color: #39b54a;
    width: 60%;
}
.main-main article .descripcion{
    font-size: 16px;
    color: #666;
    display: block;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;
}
.main-main article:hover .descripcion{
    opacity: 1;
}

/*----tablet----*/
@media (min-width: 485px){
    .main-main .main-body .main-article{
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .main-main .main-body .main-article .title-section{
        width: 100%;
        text-align: left;
    }
    .main-main .main-body .main-article .article-class{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 47%;
        transition: .15s ease all;
    }
    .main-main .main-body .main-article .article-class:hover{
        width: 48%;
        box-shadow: 0px 0px 12px rgb(70, 70, 70);
    }
    .main-main .main-body .main-article .article-class .caracteristicas-article .descripcion{
        display: block;
        color: #666;
        margin-top: 15px;
    }
}
/*-----desktop------*/
@media (min-width:769px){
    .main-main .main-body .main-article .article-class{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        min-width: 18%;
        width: 23%;
    }
    .main-main .main-body .main-article .article-class:hover{
        width: 24%;

    
    }
    .main-main .main-body .main-article .article-class img{
        margin-bottom: 15px;
    }
    .main-main .main-body .main-article .article-class .caracteristicas-article .pago .precios{
        font-size: 12px;
    }
    .main-main .main-body .main-article .article-class .caracteristicas-article .pago .off{
        font-size: 12px;
        padding-left: 8px;
    }
    .main-main .main-body .main-article .article-class .caracteristicas-article{
        margin-top: 10px;
    }
}

footer{
    padding-top: 20px;
    text-align: center;
    background-color: white;
}
footer .target{
    margin-bottom: 15px;
}
footer .target i{
    font-size: 2em;
    color: #1259C3;
}
footer .target h3{
    color: #666;
}

footer .target p{
    display: inline-block;
    width: 70vw;
    color: gray;
    font-size: 12px;
}

/*--------tablet----------*/
@media (min-width:769px){
    footer .tarjetas{
        display: flex;
    }
    footer .tarjetas section{
        width: 33%;
    }
    footer .target p{
        width: 75%;
        color: gray;
        font-size: 10px;
    }

    footer .target i:hover{
        color: #eac926;
    }
}

